/*propiedades para cuerpo de index*/
body{
  background: #FDC830;
background: linear-gradient(to right, #F37335, #FDC830); 
justify-content: center;
}

/*propiedades para H1*/
h1{
  text-align: center;
}

/*propiedades para p3*/
h3{ 
  text-align: center; 
  padding: 0px;
  margin: auto;
  color: white;
}

/*propiedades para barra navegacion*/
a{
  text-decoration:none;
  color: black;
}

/*propiedades boton ordenar*/
.ordenar{
  width: 5em;
  height: 3ex;
  background-image: linear-gradient(135deg, #e73a0f 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

/*propiedades para h2*/
h2{
  text-align: center;
}


/*propiedades para para footer */

ul{ 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer{
  margin-bottom: 10PX;
  text-decoration: none;
}


.p2{
text-align: center;
}

