/*propiedades para cuerpo de index*/
body{
  background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*propiedades para H1*/
h1{
  text-align: center;
}

/*propiedades para barra navegacion*/
ul{
  display: flex;
  list-style-type:;
  padding: 10px;
  margin: 5px;
}

/*propiedades boton ordenar*/
.ordenar{
  width: 5em;
  height: 3ex;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.ordenar {
  box-shadow: 2px 2px 5px black;
}

ul li { 
  margin-right: 20px;
}

.p1{ 
  text-align: center; 
  padding: 10px;
}